<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Alamat Kami / Contact Us</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.5!2d104.058!3d1.058!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3035f8b0b0b0b0b0%3A0x0!2sUniversitas%20Universal%20%28UVERS%29%20Pasir%20Putih!5e0!3m2!1sen!2sid!4v1690000000000!5m2!1sen!2sid" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="col-md-4">
                        <img src="assets/img/university.jpg" alt="Univertias Universal" class="img-fluid" style="width: 100%; height: auto;">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <p><strong>Alamat:</strong><a href="https://www.google.com/maps/search/?api=1&query=Universitas+Universal+Pasir+Putih%2C+Batam%2C+Indonesia" target="_blank">Sat, Kec. Bengkong, Kota Batam, Kepulauan Riau 29444</a></p>
                        <p><strong>Telepon:</strong> 0813-XXXX-XXXX</p>
                        <p><strong>Email:</strong><a href="mailto:info@universitasuniversal.ac.id">info@universitasuniversal.ac.id</a></p>
                        <p><strong>Website:</strong> <a href="https://uvers.ac.id/" target="_blank">uvers.ac.id</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>