<div class="container">
    <h2>Mainpage</h2>
    <p>Welcome to our company profile. This is the main page where you can find an overview of our organization.</p>
    <p>We are dedicated to providing excellent services and products to our customers.</p>

    <div class="row mt-4">
        <h3>Our Product</h3>
        <div class="col-md-3 mb-3">
            <img src="assets/img/prod-1.jpg" alt="Product 1" class="img-fluid">
        </div>
        <div class="col-md-3 mb-3">
            <img src="assets/img/prod-2.jpg" alt="Product 2" class="img-fluid">
        </div>
        <div class="col-md-3 mb-3">
            <img src="assets/img/prod-3.jpg" alt="Product 3" class="img-fluid">
        </div>
        <div class="col-md-3 mb-3">
            <img src="assets/img/prod-4.jpg" alt="Product 4" class="img-fluid">
        </div>
        <div class="col-md-3 mb-3">
            <img src="assets/img/prod-5.jpg" alt="Product 5" class="img-fluid">
        </div>
    </div>
</div>
