<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-center"> Profile Company</h1>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Navigate Sections</h3>
                    </div>
                    <div class="card-body">
                        <button class="btn btn-primary mr--2" routerLink="mainpage">Mainpage</button>
                        <button class="btn btn-primary mr--2" routerLink="visimisi">VisiMisi</button>
                        <button class="btn btn-primary mr--2" routerLink="alamat">Alamat</button>
                        <button class="btn btn-primary mr--2" routerLink="product">Product</button>
                        <button class="btn btn-primary mr--2" routerLink="komentar">Komentar</button>
                        <button class="btn btn-primary mr--2" routerLink="aboutus">About Us</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
</section>